{{ define "base" }}
    <!doctype html>
    <html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - Aitu News</title>
        <link rel='stylesheet' href='/static/css/main.css'>
        <link rel='shortcut icon' href='/static/img/aitu-logo.png' type="image/png">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
        <style>
            :root {
                --font-size: 15px;
            }

            nav a {
                font-size: var(--font-size);
            }

            nav form button {
                font-size: var(--font-size);
            }
        </style>
    </head>
    <body>
    <header>
        <h1><a href='/'>Aitu news</a></h1>
        {{if .IsAuthenticated}}
            {{with .User}}
                <div>
                    <p>{{.Email}}</p>
                    <p>{{.Role}}</p>
                </div>
            {{end}}
        {{else}}
            <div>
                <p>guest</p>
            </div>
        {{end}}
    </header>
    <nav>
        <a href='/'>Home</a>
        <a href='/students'>Students</a>
        <a href='/staff'>Staff</a>
        <a href='/researchers'>Researchers</a>
        <a href='/applicants'>Applicants</a>
        {{ if and .IsAuthenticated ( eq .Role "teacher" ) }}
            <a href='/snippet/create'>Create news</a>
        {{ end }}
        <a href='/contacts'>Contacts</a>
        {{ if .IsAuthenticated }}
            <form action='/user/logout' method='POST'>
                <button>Logout</button>
            </form>
        {{ else }}
            <a href='/user/signup'>Signup</a>
            <a href='/user/login'>Login</a>
        {{ end }}
        {{ if eq .Role "admin" }}
            <a href="/user/manage">Manage users</a>
        {{ end }}
    </nav>
    <main>
        {{ with .Flash }}
            <div class="flash">{{.}}</div>
        {{ end }}
        {{ with .CommentFlash}}
            <div class="flash">{{.}}</div>
        {{end}}

        {{ template "main" . }}
    </main>
    {{ template "footer" . }}
    <script src="/static/js/main.js" type="text/javascript"></script>
    </body>
    </html>
{{ end }}