{{template "base" .}}

{{define "title"}}Contacts{{end}}

{{define "main"}}
<div style="display: flex">
    <div style="margin-right: 20px;"> <!-- Added margin to the first div -->
        <h2 style="margin-bottom: 0; color: blue;">RECTOR'S RECEPTION</h2> <!-- Added color -->
        <p style="margin-bottom: 36px">(7172) 645715</p>

        <h2 style="margin-bottom: 0; color: green;">ACCOUNTING DEPARTMENT</h2> <!-- Added color -->
        <p style="margin-bottom: 36px">(7172) 645720</p>

        <h2 style="margin-bottom: 0; color: red;">DEAN 'S OFFICE</h2> <!-- Added color -->
        <p style="margin-bottom: 36px">(7172) 645706</p>
    </div>
    <div style="margin-right: 20px;"> <!-- Added margin to the second div -->
        <!-- ... Same structure as the first div ... -->
    </div>
    <div>
        <!-- ... Same structure as the first div ... -->
    </div>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3318.0241068482724!2d71.42134223387244!3d51.09199458921768!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x424585a605525605%3A0x4dff4a1973f7567e!2sAstana%20IT%20University!5e0!3m2!1sru!2skz!4v1705256945527!5m2!1sru!2skz"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{{end}}
