{{template "base" .}}

{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}

{{define "main"}}
    {{with .Snippet}}
    <div class='snippet'>
        <div class='metadata'>
            <strong>{{.Title}}</strong>
            <span>#{{.ID}}</span>
        </div>
        <div>
            <code>{{.Content}}</code>
        </div>
        <div class='metadata'>
            <!-- Use the new template function here -->
            <time>Created: {{humanDate .Created}}</time>
            <time>Expires: {{humanDate .Expires}}</time>
        </div>
        <form method="post" action="/snippet/delete?id={{.ID}}">
            <button type="submit">DELETE</button>
        </form>
        <form method="post" action="/snippet/showUpdate">
<!--            <input type="hidden" name="title" value="{{.Title}}">-->
            <input type="hidden" name="id" value="{{.ID}}">
<!--            <input type="hidden" name="content" value="{{.Content}}">-->
<!--            <input type="hidden" name="created" value="{{.Created}}">-->
<!--            <input type="hidden" name="expires" value="{{.Expires}}">-->
<!--            <input type="hidden" name="category" value="{{.Category}}">-->
            <button type="submit">UPDATE</button>
        </form>
    </div>
    {{end}}
{{end}}